body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    margin-top: 20px;
}

.carta {
    width: 100px;
    height: 100px;
    background-color: #87CEFA;
    border-radius: 10px;
    color: transparent;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.volteado {
    background-color: #fff;
    color: #000;
}

.hidden {
    visibility: hidden;
}

#resetBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    #resetBtn:hover {
        background-color: #45a049;
    }